* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #2c2f33; /* Dunkler Hintergrund */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Georgia', serif; 
    background-image: url('B.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: #d3d3d3; /* Helle Schriftfarbe für Kontrast */
    background-color: #4b4e53; /* Dunkles, neutrales Container-Hintergrund */
    border-radius: 1em;
    padding: 4em 3em;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sanfte Schatten für Tiefe */
}

.title {
    font-size: 3em;
    text-align: center;
    color: #f0e68c; /* Helle Akzentfarbe */
}

hr {
    width: 100%;
    background-color: #d3c6b8; /* Sanfte, vintage-farbene Linie */
    height: 5px;
    border-radius: 1em;
    border: none;
}

.timer {
    font-size: 10em;
    font-weight: 700;
    color: #f0e68c; /* Gleiche helle Akzentfarbe */
}

.button-wrapper {
    display: flex;
    gap: 1em;
}

button {
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 5px; /* Abgerundete Ecken für Buttons */
    color: white; /* Schriftfarbe für Buttons */
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Schatten für Buttons */
}

button:hover {
    transform: translateY(-5px);
}

#start {
    background-color: rgb(87, 128, 87); /* Sanftes Grün */
}

#stop {
    background-color: rgb(204, 102, 102); /* Sanftes Rot */
}

#reset {
    background-color: rgb(102, 153, 204); /* Sanftes Blau */
}
